server:
  port: 8080
spring:
  liquibase:
    change-log: classpath:/db/changelog/db.changelog-master.yaml
    enabled: true
  jpa:
    hibernate:
      ddl-auto: none
  datasource:
    url: jdbc:postgresql://localhost:5432/otusdb
    driverClassName: org.postgresql.Driver
    username: otususer
    password: otus

management:
  endpoint:
    health:
      show-details: always
  prometheus:
    metrics:
      export:
        enabled: true
  metrics:
    distribution:
      slo:
        # noinspection SpringBootApplicationYaml
        http.server.requests: 10ms, 50ms, 100ms, 200ms, 300ms, 400ms, 500ms, 600ms, 800ms
      percentiles-histogram:
        http.server.requests: true
  endpoints:
    web:
      exposure:
        include: health, info, metrics, prometheus

logging:
  level:
    liquibase: DEBUG
    org.springframework.boot.autoconfigure.liquibase: DEBUG